.artikel p {
  font-size: 16px;
}

nav {
  background-color: #ffffff;
  padding: 1rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.container {
  background-image: url("artikelbg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: justify;
  text-align: center;
  color: #722100;
  position: relative;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.artikel-text {
  position: relative;
  z-index: 1;
  justify-content: center flex-end;
}

.link {
  background-image: url("daftarpustakabg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  color: #722100;
  position: relative;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.daftar-pustaka {
  position: relative;
  z-index: 1;
}
