body {
  margin: 0;
  font-family: Times New Roman;
  background: url("tentangsayabg.jpg") center/cover no-repeat;
}

nav {
  background-color: #f2f2f2;
  padding: 1rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.container {
  background-image: "tentangsayabg.jpg";
  margin: 50px auto;
  padding: 30px;
  width: 90%;
  max-width: 1000px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  align-content: center;
}

.gwen {
  width: 20%;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
